body {
  background-color: blanchedalmond;
}
/* Это просто комментарий =) */
h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 15px;
  background-color: lightcoral;
}
.list li {
  padding: 10px;
  margin: 10px 0;
  background-color: lightblue;
}